{% extends 'base.html' %}

{% block content %}
    <div>
        <br> <br> <br>
        <h1> About </h1>
        <p class="lead"> Welcome to WordQuest, the ultimate vocabulary adventure for learners of all ages! <br>
            Whether you're a student looking to boost your language skills or a group of friends seeking an exciting challenge, <br>
            WordQuest is here to take your learning experience to new heights. 
        </p>
        <br> <br>
        <h3>🌟 Explore, Capture, Learn</h3> 
        <p class="lead">
            WordQuest is an innovative and interactive application designed to make vocabulary acquisition a thrilling and immersive experience. <br>
            With our app, you're not just memorizing words; you're embarking on a journey of exploration and discovery. <br>
            Here's how it works:
        </p>
        <br>
        <h4>Choose Your Path: </h4> 
        <p class="lead">
            Select a topic from our wide range of categories or create your own custom word list
        </p>
        <br>
         
        <h4> Snap and Capture: </h4> 
        <p class="lead">
            Armed with your smartphone, embark on a real-world scavenger hunt. <br>
            Capture images of objects that represent the words from your chosen list. <br>
            Get creative and explore your surroundings while putting your vocabulary and eyes to the test.
        </p>
    
        <br> <br> <br>

        <h3>Coming soon</h3>
        <em>
        <h4>Challenge Mode: </h4> 
        <p class="lead">
            Feeling competitive? Engage in a battle of wits with your friends or fellow learners.<br>
            Compete in the exhilarating Challenge Mode, where speed and accuracy are your allies.<br>
            Race against the clock to capture all the words on your list and earn bragging rights as the ultimate WordQuest champion.
        </p>
        </em>

    </div>
{% endblock %}